@import './utils/fonts';
@import './utils/variable';

@import './utils/base';
@import './utils/accents';
@import './utils/texts';
@import './utils/links';
@import './utils/form';

@import './components/buttons';
@import './components/header';
@import './components/section1';
@import './components/section2';
@import './components/section3';
@import './components/section4';
@import './components/section5';
@import './components/footer';
@import './components/modal';
@import './components/mobile-menu';
@import './components/pagination';


