*,
*::before,
*::after {
    

    @media screen and (min-width: $bp-tablet) {
box-sizing: border-box;
    }
}
.star1,
.star2,
.star3 {
    animation: rotateStar 3s infinite alternate ease-in-out;
    transform-origin: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
img {
    display: block;
    min-width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    color: var(--color-primary-dark);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
max-width: 1300px;

    }
}



.section {
    padding: 48px 0;
}

a {
    display: inline-block;
}
.second-title {
    font-family: 'Play', sans-serif;
    margin-bottom: 24px;
    font-size: 32px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
font-size: 64px;
margin-bottom: 40px;
    }
}
.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}