.form-field {
    margin-bottom: 24px;

    &__label {
        display: block;

        &__input {
            padding-left: 32px;
            padding-right: 32px;
            padding-top: 18px;
            padding-bottom: 18px;
            font-size: 13px;
            line-height: 1.1;
            width: 100%;
            border: 2px solid var(--color-secondary-gray);
            border-radius: 32px;
            background-color: transparent;
        }

        &__input:focus {
            border-color: var(--color-secondary-gray);
            background-color: var(--color-secondary-gray);
            outline: none;
        }

        &__input::placeholder {
            color: var(--color-primary-light);
        }
    }
}

.form-policy {
    margin: 0 auto;
    max-width: 220px;
    font-size: 12px;
    line-height: 1.1;
    text-align: center;
    color: var(--color-secondary-gray);
}

.contact-form {
    background-color: var(--color-primary-dark);
    width: 424px;
    border-radius: 32px;
    padding: 56px 48px;

    &__contact-field {
        margin-bottom: 16px;

        &__label {
            display: block;

            &__input {
                    padding-left: 32px;
                    padding-right: 32px;
                    padding-top: 18px;
                    padding-bottom: 18px;
                    font-size: 13px;
                    line-height: 1.1;
                    width: 100%;
                    border: 2px solid var(--color-secondary-gray);
                    border-radius: 32px;
                    background-color: transparent;
                }
            
                &__input:focus {
                    border-color: var(--color-secondary-gray);
                    background-color: var(--color-secondary-gray);
                    outline: none;
                }
            
                &__input::placeholder {
                    color: var(--color-primary-light);
                }
        }
    }
}