.link-footer {
    color: var(--color-primary-light);
    text-decoration: none;
}

.link-footer:hover {
    color: var(--color-brand);
}

.protected-data {
    font-weight: 400;
    font-size: 13px;
    color: var(--color-secondary-gray);
}