:root {
    --color-brand: #2a7fff;
    --color-primary-dark: #011c44;
    --color-primary-light: #ffffff;
    --color-secondary-gray: #747272;
    --color-secondary-dark: #4A4A4A;
}
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;