.button {
    display: block;
    background-color: #2a7fff;
    color: #ffffff;
    border-radius: 32px;
    border: 2px solid var(--color-brand);
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    font-family: inherit;
    padding: 16px 24px;

    @media screen and (min-width: $bp-tablet) {
        font-size: 18px;
        padding: 16px 32px;
    }
}

.button:hover {
    border: 2px solid var(--color-brand);
    border-radius: 32px;
    background-color: transparent;
    color: var(--color-primary-dark);
}
.button2 {
    margin: 0 auto 8px;
    display: block;
}

.modal-btn-close {
    position: absolute;
    top: 42px;
    right: 42px;
}

.button-form {
    margin: 0 auto 8px;
    display: block;
}
.button-services {
    display: none;

    @media screen and (min-width: $bp-tablet) {
        display: flex;
    }
}
