.header {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  max-width: 1300px;
  padding: 16px 20px;

  @media screen and (min-width: $bp-desktop) {
    padding: 32px 0;
  }

  &__container {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__contacts {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      
      display: flex;
        margin-left: auto;
        align-items: center;
        gap: 32px;
    }
  }
  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      
      display: flex;
        flex-direction: row;
        gap: 56px;
        flex-grow: 1;
        justify-content: center;
    }
  }
  &__link {
    color: var(--color-primary-dark);
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    transition: color 0.2s;
  }
  &__link:hover {
    color: var(--color-brand);
    font-style: normal;
  }
  &__icon {
    fill: var(--color-primary-dark);
    height: 32px;
    width: 32px;
  }
  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-primary-light);

    @media screen and (min-width: $bp-desktop) {
    display: none;
  }
    
  }
}
