.mobile-menu {
    position: fixed;
    inset: 0; 
        width: 100vw;
        height: 100vh;
    background-color: var(--color-primary-light);
    transform: translate(100%);
    transition: transform 0.3s;

    &.is-open {
        transform: translate(0);
    }
    &__btn-close {
        position: absolute;
        top: 16px;
        right: 24px;
    }
}