.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  background-color: var(--color-primary-dark);
  background-image: url(../image/background-modal.png);
  border-radius: 48px;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-right: 144px;
  padding-left: 144px;
  overflow-y: scroll;
  color: var(--color-primary-light);
}




  