.pagination {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 24px;

    &__button {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: none;
        background-color: #d9d9d9;
        cursor: pointer;

        &--active {
            background-color: var(--color-brand);
        }
    }
}