.contact-section {
  padding-bottom: 94px;
  &__contact-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
    &__contact-map {
      flex-shrink: 0;
      border: none;
      border-radius: 32px;
      margin: 0 -24px;
      height: 232px;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $bp-tablet) {
        margin: auto;
        flex-direction: row;
        width: 320px;
        height: 500px;
      }
      @media screen and (min-width: $bp-desktop) {
        width: 605px;
        height: 500px;
      }
    }
  }
}
