.contact-section {
  padding-bottom: 0px;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 94px;
  }

    &__contact-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    justify-content: center;
    align-items: center; 

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
      align-items: stretch; 
    }

    &__contact-map {
      flex-shrink: 0;
      border: none;
      border-radius: 0;
      width: 100vw;
      max-width: 100vw;
      height: 232px;
      z-index: 1;
     

      @media screen and (min-width: $bp-tablet) {
        width: 320px;
        max-width: none;
        height: 500px;
        border-radius: 32px;
        margin-left: 20;
        margin-right: 0;
      }

      @media screen and (min-width: $bp-desktop) {
        width: 605px;
        height: 500px;
      }
    }
  }
}
