.section4 {
  &__services-container {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__carusel-button {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-primary-light);
      fill: var(--color-primary-dark);
      border: 1px solid var(--color-primary-dark);
      padding: 0;
      cursor: pointer;
      flex-shrink: 0;

      &:hover {
        background-color: var(--color-brand);
        border: 1px solid var(--color-primary-light);
        fill: var(--color-primary-light);
      }

      &__next {
        transform: rotate(180deg);
      }
    }

    &__services-list {
      display: flex;
      justify-content: center;
      gap: 16px;

      &__services-block {
        position: relative;
        display: block;
        border-radius: 120px 4px;
        overflow: hidden;
        width: 344px;
        height: 456px;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.05);
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          border-radius: 120px 4px;
          width: 344px;
          background: linear-gradient(
            180deg,
            rgba(1, 28, 68, 0) 47.4%,
            rgba(1, 28, 68, 0.73) 82.66%,
            #011c44 99.06%
          );
          pointer-events: none;
        }

        &__services {
          border-radius: 120px 4px;
          height: 456px;
          width: 344px;
          object-fit: cover;
          display: block;
        }
      }
    }
  }
}
