.section3 {
    background-image: url(../image/background-gradient.png);
    background-size: cover;
    background-position: center;

    &__reasons {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;

       
        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px;
            justify-content: center; 
        }

        
        @media screen and (min-width: $bp-desktop) {
            flex-wrap: nowrap;
            gap: 56px;
        }

        &__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 8px;
            border-radius: 32px;
            width: 343px; 
            max-width: 100%; 
            height: auto;
            min-height: 181px;
            padding: 24px 32px;
            line-height: 1.3;
            box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
            background: var(--color-primary-light);
            transition: transform 0.3s;

            
            @media screen and (min-width: $bp-tablet) {
                width: 316px; 
                height: 181px; 
                flex-shrink: 0; 
            }

            &:hover {
                transform: scale(1.05);
            }

            &__icon {
                fill: var(--color-brand);
                flex-shrink: 0;
            }
        }
    }
}