.section4 {
  &__services-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;

  
    &__slider {
      position: relative;
      max-width: 100%;
      margin: 0 auto;
      overflow: hidden;

      @media (max-width: $bp-tablet) {
        max-width: 320px; 
      }

      @media (min-width: $bp-tablet) and (max-width: $bp-desktop) {
        max-width: 672px;
      }
    }

   
    &__carusel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 44px;
      height: 44px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-primary-light);
      fill: var(--color-primary-dark);
      border: 1px solid var(--color-primary-dark);
      padding: 0;
      cursor: pointer;
      z-index: 5;

      &:hover {
        background-color: var(--color-brand);
        border-color: var(--color-primary-light);
        fill: var(--color-primary-light);
      }

      &.prev {
        left: 0;
      }

      &.next {
     right: 0;

        transform: translateY(-50%) rotate(180deg);
      }

      @media (max-width: $bp-tablet) {
        display: none;
      }
    }

   
    &__services-list {
      &__services-block {
        position: relative;
        display: block;
        border-radius: 120px 4px;
        overflow: hidden;
        width: 344px;
        height: 456px;
        margin: 0 auto;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.05);
        }

        &::after {
          content: '';
          position: absolute;
          inset: 0;
          border-radius: 120px 4px;
          background: linear-gradient(180deg,
              rgba(1, 28, 68, 0) 47.4%,
              rgba(1, 28, 68, 0.73) 82.66%,
              #011c44 99.06%);
          pointer-events: none;
        }

      
        &__services {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 120px 4px;
        }

       
        @media (max-width: 1279px) {
          width: 320px;
          height: 416px;

          &__services {
            width: 320px;
            height: 416px;
          }
        }
      }
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }

  .swiper-wrapper {
    align-items: stretch;
  }
}
