.hero-section {

  background-image: url(../image/background.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;


  @media screen and (min-width: $bp-tablet) {
    padding-top: 125px;
    padding-bottom: 126px;
    padding-left: 100px;
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../image/background@2x.jpg);
  }

  &__hero-title {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 54px;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-brand);
    line-height: 1.1;

    @media screen and (min-width: $bp-tablet) {
      font-size: 140px;
      line-height: 0.8;
      margin-bottom: 40px;
      max-width: 520px;
      text-align: left;
    }
  }

  &__cosm-clinic {
    font-size: 12px;
    text-align: center;
    line-height: 0;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
      font-size: 18px;
      text-align: left;
    }
  }

  &__secondary-text {
    font-size: 11px;
    text-align: center;
    min-width: 186px;
    margin-top: 8px;
    color: var(--color-secondary-dark);

    @media screen and (min-width: $bp-tablet) {
      font-size: 12px;
      min-width: 238px;
    }
  }

  &__button1 {
    margin: 0 auto;


    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 14px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__button-box {
    display: block;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;


    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      max-width: 238px;
      justify-content: center;
      margin: 0;
    }
  }
}