.section2 {
  &__before-after-container {
    display: flex;
    gap: 32px;
  }
  &__before-after-container {
    position: relative;
  }
  &__first-title {
    font-family: 'Play', sans-serif;
    margin-bottom: 40px;
    font-size: 64px;
  }
}

.photo-block {
  display: flex;
  flex-direction: column;

  &__photo-circle {
    width: 328px;
    height: 328px;
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 328px;
  }
  &__after-photo {
    margin-top: 40px;
    margin-left: 172px;
  }
}

.stars-block {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  pointer-events: none;

  &__star1 {
        width: 64px;
        margin-top: 120px;
        margin-left: 900px;
    }
    &__star2 {
        width: 40px;
        margin-top: 0px;
        margin-left: 1250px;
    }
    &__star3 {
        width: 16px;
        margin-top: 180px;
        margin-left: 1250px;
    }
}


@keyframes rotateStar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
  }
}


