.section3{
    background-image: url(../image/background-gradient.png);
&__reasons {
        display: flex;
        gap: 56px;
        justify-content: center;

        &__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 8px;
            border-radius: 32px;
            width: 316px;
            height: 181px;
            padding: 24px 32px;
            line-height: 1.3;
            box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
            background: var(--color-primary-light);
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.05);
            }

            &__icon {
                fill: var(--color-brand);
            }
        }
    }
}
